@model PicuDrugsCore.Models.PatientData.DrugListModel
@* using PicuDrugsCore.Helpers *@
@{
    ViewData["Title"] = "Patient Detail";
}

<h4>Enter Patient Data</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="View" class="form-horizontal">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ListRequested" class="control-label"></label>
                <input asp-for="ListRequested" class="form-control" />
                <span asp-validation-for="ListRequested" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WardId" class="control-label"></label>
                <input asp-for="WardId" class="form-control" />
                <span asp-validation-for="WardId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NHI" class="control-label"></label>
                <input asp-for="NHI" class="form-control" />
                <span asp-validation-for="NHI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RememberSelection" class="control-label"></label>
                <input asp-for="RememberSelection" class="form-control" />
                <span asp-validation-for="RememberSelection" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Centile" class="control-label"></label>
                <input asp-for="Centile" class="form-control" />
                <span asp-validation-for="Centile" class="text-danger"></span>
            </div>
            <div id="drug-list">
                <div class="form-group">
                    <label asp-for="MaleGender" class="control-label"></label>
                    <input asp-for="MaleGender" class="form-control" v-model="IsMale" />
                    <span asp-validation-for="MaleGender" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label" for="dob">Date of Birth</label>
                    <input class="form-control" type="date" max="@DateTime.Today.ToString("yyyy-MM-dd")" v-model="Dob" id="dob" />
                    <span class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="age-years" class="control-label">Years</label>
                    <input type="number" step="1" min="0" max="130" v-model="Years" id="age-years" class="form-control" />
                    <label for="age-months" class="control-label">Months</label>
                    <input type="number" step="1" min="0" max="37" v-model="Months" id="age-months" class="form-control" />
                    <label for="age-days" class="control-label">Days</label>
                    <input type="number" step="1" min="0" max="90" v-model="Days" id="age-days" class="form-control" />
                    {{Days}} | {{Years}}
                </div>

                <div class="form-group">
                    <label asp-for="Weight" class="control-label"></label>
                    <input asp-for="Weight" class="form-control" v-model="Weight" />
                    <span asp-validation-for="Weight" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="GestationAtBirth" class="control-label"></label>
                    <input asp-for="GestationAtBirth" class="form-control" v-model="Gestation" />
                    <span asp-validation-for="GestationAtBirth" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Output" class="control-label"></label>
                <input asp-for="Output" class="form-control" />
                <span asp-validation-for="Output" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@section scripts {
    <script src="~/js/commonAnon.bundle.js" asp-append-version="true"></script>
    <script src="~/js/patientDataEntry.bundle.js" asp-append-version="true"></script>
    @* @await Html.WebpackScriptsAsync("drug-list") *@
}
