@model PicuDrugsCore.Models.PatientData.DrugListModel
@* using PicuDrugsCore.Helpers *@
@{
    ViewData["Title"] = "Patient Detail";
}

<h4>Enter Patient Data</h4>
<hr />

<div id="drug-list">
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@section scripts {
    @* <script src="~/js/commonAnon.bundle.js" asp-append-version="true"></script> *@
    <script src="~/js/patientDataEntry.bundle.js" asp-append-version="true"></script>
    @* @await Html.WebpackScriptsAsync("drug-list") *@
}
