@model PicuDrugsCore.Models.PatientData.DrugListModel
@* using PicuDrugsCore.Helpers *@
@{
    ViewData["Title"] = "Patient Detail";
}

<h4>Enter Patient Data</h4>
<hr />
    <form asp-action="View" class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group form-row">
            <label for="ListRequested">Type</label>
            <input name="chartType" type="checkbox" id="bolus" />
            <input name="chartType" type="checkbox" id="infusion" />
            <input name="chartType" type="radio" id="oneoff" />
            <span asp-validation-for="ListRequested" class="text-danger"></span>
        </div>
        <div class="form-group form-row">
            <label for="WardId" ></label>
            <input asp-for="WardId" class="form-control" />
            <span asp-validation-for="WardId" class="text-danger"></span>
        </div>
        <div class="form-group form-row">
            <label for="Name" ></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group form-row">
            <label for="NHI" ></label>
            <input asp-for="NHI" class="form-control" />
            <small id="nhiHelp" class="form-text text-muted">For NZ residents - 3 letters &amp; 4 numbers</small>
            <span asp-validation-for="NHI" class="text-danger"></span>
        </div>
        <div class="form-group form-row">
            <label for="RememberSelection" ></label>
            <input asp-for="RememberSelection" class="form-control" />
            <span asp-validation-for="RememberSelection" class="text-danger"></span>
        </div>
        <div id="drug-list">


        </div>
        <div class="form-group form-row">
            <label for="Output" ></label>
            <input asp-for="Output" class="form-control" />
            <span asp-validation-for="Output" class="text-danger"></span>
        </div>
        <div class="form-group form-row">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@section scripts {
    @* <script src="~/js/commonAnon.bundle.js" asp-append-version="true"></script> *@
    <script src="~/js/patientDataEntry.bundle.js" asp-append-version="true"></script>
    @* @await Html.WebpackScriptsAsync("drug-list") *@
}
